*{  
    margin: 0;  
    padding: 0;  
    list-style: none;  
}  
#box {  
    width: 700px;  
    height: 400px;  
    border: 1px solid #ccc;  
    margin: 100px auto;  
    position: relative;  
    overflow: hidden;  
}  
.ad {  
    width: 700px;  
    height: 400px;  
    position: relative;  
}  
#box img {  
    width: 700px;  
    height: 400px;  
}  
.ad ul li{  
    width: 700px;  
    height: 400px;  
    overflow: hidden;  
    float: left;  
}  
.ad ul {  
    position: absolute;  
    left: 0;  
    top: 0;  
    width: 4200px;  
}  
.ad ol {  
    position: absolute;  
    right: 10px;  
    bottom: 10px;  
    line-height: 20px;  
    text-align: center;  
}  
.ad ol li {  
    width: 20px;  
    height: 20px;  
    float: left;  
    background: #fff;  
    border: 1px solid #ccc;  
    margin-left: 10px;  
    cursor: pointer; 
    border-radius:50%;
}  
.ad ol li.current {  
    background: yellow;  
}  
.ad ul li.current {  
    background: yellow;  
}  
#arr {  
    display: none;  
}  
#arr span {  
    width: 40px;  
    height: 40px;  
    line-height: 40px;  
    position: absolute;  
    top: 50%;  
    margin-top: -20px;  
    background-color: #000;  
    cursor: pointer;  
    text-align: center;  
    font-weight: bold;  
    font-family: '黑体';  
    font-size: 30px;  
    color: #fff;  
    opacity: 0.3;  
    border: 1px solid #fff;  
}  
#arr #left{  
    left: 5px;  
}  
#arr #right {  
    right: 5px;  
}  